.container {
  inline-size: var(--desctop-container);
}

@media screen and (768px > width) {

  .container {
    inline-size: var(--mobile-container);
  }
}

.button {
  border: var(--border);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  background-color: #fff;
  transition: box-shadow 0.3s;
  overflow: hidden;
  position: relative;
}

.button__text {
  color: var(--button-color);
  mix-blend-mode: difference;
}

.button__icon {
  color: var(--button-color);
  mix-blend-mode: difference;
}

.button::before {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  transition: transform 0.5s;
  width: 100%;
  transform: scaleX(0);
  transform-origin: 0 0;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 #000;
}
