.like-icon {
  overflow: visible;
}

.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.card__icon-button:hover .core {
  fill: var(--black-color);
  transition: fill 0.3s 0s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s 0s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--black-color);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .core {
  fill: var(--red-color);
  transition: fill 0.3s 0s linear;
}

.card__icon-button:active .main-body {
  fill: var(--red-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  transition: fill 0.3s 0s linear;
  fill: var(--red-color);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s 0.03s linear;
  fill: var(--red-color);
}

.contour {
  transition: fill 0.1s 0s linear;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s linear;
  fill: var(--red-color);
}

.heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: like 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

@keyframes like {

  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.25);
  }
}

@keyframes sparks {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
